@charset "htf-8";

@media only screen and(min-width: 1008px){
    header {
        font-family: 'Lato', sans-serif;
        background-color: rgb(133, 244, 255);
        color: white;
        display: block;
        width: 99%;
        padding: 5px 3px 3px 3px;
        margin-right: 3px;
        padding-right: 3px;
    }

    img#logoblue {
        max-width: 100%;
        height: 120px;
        float: left;
    }

    h1#title {
        text-align: left;
        font-weight: bolder;
        text-shadow: 2px 2px 2px black, 6px 4px 5px rgb(85, 85, 85);
        padding-left: 30px;
        display: none;
    }

    h2#sub {
        text-align: left;
        font-weight: bolder;
        text-shadow: 2px 2px 2px black, 5px 4px 5px rgb(85, 85, 85);
        margin-left: 10px;
        display: none;
    }

    nav {
        clear: right;
    }

    nav ul{
        text-align: right;
    }

    nav ul a:hover {
        /*text-decoration: underline;*/
        text-shadow: 2px 2px 2px white, 5px 4px 5px lightgray;
    }

    header nav ul a{
        color: black;
        text-decoration: none;
        font-size: 17px;
        padding-top: 5px;
        width: 80%;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        display: block;
        align-items: flex-end;
    
    }

    footer {
        text-align: left;
        background-color: grey;
        display: block;
    }

    body {
        background-color: white;
    }

    

    #email {
        color: black;
        text-decoration: none;
    }
}

@media only screen and (min-width: 641px){
    header {
        font-family: 'Lato', sans-serif;
        background-color: rgb(133, 244, 255);
        color: white;
        display: block;
        width: 99%;
        padding: 5px 3px 3px 3px;
        margin-right: 3px;
        padding-right: 3px;
    }
    
    img#logoblue {
        max-width: 100%;
        height: 120px;
        float: left;
    }
    
    h1#title {
        text-align: left;
        font-weight: bolder;
        text-shadow: 2px 2px 2px black, 6px 4px 5px rgb(85, 85, 85);
        padding-left: 30px;
        display: block;
    }

    h2#sub {
        text-align: left;
        font-weight: bolder;
        text-shadow: 2px 2px 2px black, 5px 4px 5px rgb(85, 85, 85);
        margin-left: 10px;
        display: block;
    }

    nav {
        clear: right;
    }

    nav ul{
        text-align: right;
    }

    nav ul a:hover {
        /*text-decoration: underline;*/
        text-shadow: 2px 2px 2px white, 5px 4px 5px lightgray;
    }

    header nav ul a{
        color: black;
        text-decoration: none;
        font-size: 17px;
        padding-top: 5px;
        padding: 3px 7px;
        width: 80%;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        display: inline;
    
    }
} 

@media only screen and (max-width: 640px){
    
    #title {
        display: none;
    }

    #sub {
        display: none;
    }

    img#logoblue {
        max-width: 100%;
        height: 100px;
    }
    header {
        font-family: 'Lato', sans-serif;
        background-color: rgb(133, 244, 255);
        color: white;
        display: block;
        width: 99%;
        padding: 5px 3px 3px 3px;
        margin-right: 3px;
        padding-right: 3px;
    }
    header nav ul a{
        color: black;
        text-decoration: none;
        font-size: 12px;
        padding-top: 10px;
        width: 80%;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        /*display: block; */
        align-items: flex-end;
    }
    
    #about{
        margin: 5px;
    }

    #services{
        margin: 5px;
    }

    #mail {
        margin: 5px;
    }

    #form {
        margin: 5px;
    }

    nav {
        align-items: center;
    }
} 
